@import "../../../variables/firstSiteMixin.scss";

.bodyFirstSite {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.headerMenu {
  display: none;
}
.headerFirstSite {
  margin: 0 auto;
  display: flex;
  // display: none;
  max-width: 1440px;
  padding: 0 80px;
  width: 100%;
  align-items: center;

  height: 72px;
  justify-content: space-between;
}
.headerLinks {
  display: flex;
}
.headerLinks h2 {
  margin: 0 32px 0 0;
  color: #1e313b;
  font-size: 16px;
}
.headerLinks h2:hover {
  cursor: pointer;
  color: #794eff;
}
.headerLinks h2:last-child {
  margin: 0;
}
.headerFirstSite button {
  width: 93px;
  font-size: 16px;
  height: 42px;
  background-color: #1e313b;
  color: #fff;
  border: none;
  border-radius: 6px;
}
.headerFirstSite button:hover {
  @include darkButtonHover;
}
.upContentBlock {
  position: relative;
  background-color: #1e313b;
  width: 100%;
  height: 100%;
}
.mainBlock {
  background-color: #1e313b;
  max-width: 1440px;
  margin: 0 auto;
}
.mainContent {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 130px 56px 100px 80px;
  display: grid;
  justify-items: center;
  max-width: 1440px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.mainContentLeftBlock {
  box-sizing: border-box;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: left;
}
.leftBlockHeadText {
  font-size: 38px;
  line-height: 44px;
}
.leftBlockHeadText span {
  color: #794eff;
}
.leftBlocDiscr {
  padding: 13px 0 29px 0;
  font-size: 18px;
  width: 575px;
  line-height: 27px;
}
.leftBlockInput input {
  width: 376px;
  margin: 0 16px 16px 0;
  height: 44px;
  border-radius: 6px;
  padding: 10px 0 10px 24px;
}
.leftBlockInput input::-webkit-input-placeholder {
  color: black;
}
.leftBlockInput button {
  color: black;
  width: 88px;
  height: 44px;
  border: none;
  border-radius: 6px;
}
.leftBlockInput button:hover {
  @include lightButtonHover;
}
.signDiscr div {
  font-family: Roboto;

  font-size: 12px;
}
.signDiscr span {
  color: #794eff;
}
.mainContentRightBlock {
  object-fit: cover;
  width: 100%;
  max-width: 716px;
  // height: 100%;

  margin: 0 0 0 10px;
  max-height: 618px;
}
.usage {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.sponsorImgBlock {
  display: flex;
  margin: 0 auto;
  padding: 62px 161px 80px;
  max-width: 1280px;
  justify-content: space-around;
}
.secondContentBlock {
  padding: 128px 0;
}
.secondBlockMainContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  max-width: 1440px;
  grid-gap: 80px;
  width: 100%;
  padding: 0 80px;
  // max-height: 565px;
  // height: 100%;
}
.secondContLeftBlock {
  margin: 62px 0 62px 0;
  width: 100%;
  object-fit: cover;
}
.secondRightUpBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 30px 0;
}
.secondRightUpBlock div {
  @include labelConainer;
  background-color: rgba(255, 193, 71, 0.6);
  border: 2px solid #ffc147;
}
.secondRightTitle {
  font-size: 32px;
}
.secondRightTitle span {
  color: #ffc147;
}
.secondContRightBlock h4 {
  font-size: 16px;
  line-height: 24px;
}
.secondContRightBlock {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.secBlockRightBottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  grid-template-rows: 1fr 1fr;
}
.titleBottomBlock {
  display: flex;
}
.titleBottomBlock img {
  padding: 0 16px 12px 0;
}
.titleBottomBlock span {
  font-size: 18px;
  font-weight: 500;
  color: #ffc147;
  padding: 0 0 12px 0;
}
.secBlockRightBottom h4 {
  padding: 0 0 0 40px;
  box-sizing: border-box;
  width: 285px;
}
.teamStats {
  width: 100%;
  height: 100%;
  display: grid;
}
.stats {
  background-color: #f6f6f6;
  width: 100%;
  // height: 490px;
}
.statsContent {
  padding: 128px 80px;
  margin: 0 auto;
  display: grid;
  grid-gap: 116px;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
}
.statsLeftBlock > div {
  @include labelConainer;
  display: inline-block;
  border: 2px solid #97e747;
  background-color: rgba(151, 231, 71, 0.6);
}
.statsLeftBlock h3 {
  font-size: 32px;
}
.statsLeftBlock h3 span {
  color: #97e747;
}
.statsRightBlock {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
}
.statsRightBlock div {
  font-size: 18px;
}
.statsPercent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.statsPercent h3 {
  margin: 0;
  font-size: 48px;
  color: #97e747;
}
.teamInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 128px 80px;
  width: 100%;
  grid-gap: 115px;
  max-width: 1280px;
  // height: 592px;
}
.teamInfoLeftBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.teamInfoLeftBlock h4 {
  @include labelConainer;
  color: white;
  width: 93px;
  background-color: rgba(121, 78, 255, 0.8);
  border: 2px solid #794eff;
}
.teamInfoLeftBlock h3 {
  font-size: 32px;
}
.teamInfoLeftBlock h3 span {
  color: #794eff;
}
.teamInfoLeftBlock div {
  font-size: 18px;
  padding: 0 0 29px 0;
}
.teamInfoLeftBlock button {
  width: 141px;
  color: white;
  border: none;
  height: 42px;
  background-color: #794eff;
  border-radius: 6px;
}
.teamInfoLeftBlock button:hover {
  @include purpleButtonHover;
}
.teamImages {
  display: grid;
  grid-template-columns: 288px 288px;
  grid-template-rows: 288px 288px;
  grid-gap: 16px;
}
.teamImageFirstBlock img {
  max-width: 288px;
  object-fit: cover;
  width: 100%;
}
.teamImageFirstBlock img {
  padding: 0 0 16px;
  width: 100%;
}
.teamImageSecondBlock {
  display: flex;
  align-items: center;
  grid-row: 1/3;
  grid-column: 2/3;
}
.buyRequest {
  background-color: #1e313b;
  width: 100%;
  height: 615px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buyRequest > div {
  width: 100%;
  max-width: 768px;
}
.buyRequest img {
  padding: 0 0 20px 0;
}
.buyRequest h2 {
  font-size: 32px;
  color: #fff;
}
.buyRequest h3 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 0 0 29px 0;
}
.buyRequest_buttonBlock button:first-child {
  width: 132px;
  height: 42px;
  color: #fff;
  background-color: #794eff;
  border-radius: 6px;
  margin: 0 16px 0 0;
  border: none;
}
.buyRequest_buttonBlock button:first-child:hover {
  @include purpleButtonHover;
}
.buyRequest_buttonBlock button:last-child {
  width: 112px;
  height: 42px;
  border-radius: 6px;
  border: none;
}
.buyRequest_buttonBlock button:last-child:hover {
  @include lightButtonHover;
}
.stepsToBuild {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 128px 80px;
  width: 100%;
  grid-gap: 115px;
  max-width: 1280px;
  // height: 764px;
}

.stepsToBuild_leftBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stepsToBuild_leftBlock div {
  @include labelConainer;
  background-color: rgba(255, 193, 71, 0.6);
  width: 112px;
  border: 2px solid #ffc147;
  border-radius: 100px;
}

.stepsToBuild_leftBlock span {
  font-size: 32px;
  color: #1e313b;
  line-height: 35px;
  padding: 0 0 48px;
}

.stepsToBuild_leftBlock button {
  width: 132px;
  height: 42px;
  background-color: #1e313b;
  border-radius: 6px;
  border: none;
  color: #fff;
}
.stepsToBuild_leftBlock button:hover {
  @include darkButtonHover;
}
.stepsRightBlockImages {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.rightBlockImage img {
  box-sizing: border-box;
  width: 62px;
  padding: 23px 0 82px 0;
}
.rightBlockImage {
  display: grid;
  grid-template-columns: 62px 538px;
}
.stepsRightBlockImages::after {
  content: "";
  margin: 62px 0 0 31px;
  z-index: -1;
  position: absolute;
  width: 2px;
  display: flex;
  height: 365px;
  background-color: rgba(0, 0, 0, 0.15);
}
.rightBlockImage > div {
  margin: 37px 0 50px 40px;
}
.rightBlockImage h2 {
  font-size: 18px;
}
.rightBlockImage div {
  font-size: 16px;
}
// .creators {
//   // width: 100%;
//   // height: 650px;
//   // background-color: #f6f6f6;
// }
.creatorsDiscription {
  padding: 128px 80px 192px;
  text-align: center;
  // justify-content: space-between;
  // margin: 0 auto;
  // max-width: 1260px;
}
.slideContentBlock {
  display: flex;
  justify-content: space-between;
}
.slideLogoDiscr {
  margin: 0 0 34px 0;
}
.arrowsSlider {
  cursor: pointer;
}
.sliderPhoto {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.sliderDots {
  display: flex;
  margin: 46px 0;
  justify-content: center;
}
.sliderDots .dotActive {
  background-color: #222;
}
.sliderDots div {
  content: "";
  width: 12px;
  height: 12px;
  background-color: rgba(34, 34, 34, 0.4);
  margin: 0 6px;
}
.slideMainDiscr {
  font-size: 24px;
  font-weight: 500;
  // width: 727px;
  margin: 0 auto 28px;
}
.memberName {
  margin: 15px 0 10px 0;
  font-size: 16px;
  font-weight: 500;
}
.memberPosition {
  font-size: 16px;
  font-weight: 500;
}
.nonMissMessage {
  display: flex;
  padding: 0 80px;
  width: 100%;
  height: 443px;
  justify-content: center;
  align-items: center;
  background-color: #794eff;
}
.nonMissBlock {
  padding: 0 96px;
  display: grid;
  align-items: center;
  justify-items: flex-start;
  grid-template-columns: 1fr 1fr;
  border-radius: 48px;
  max-width: 1280px;
  width: 100%;
  height: 315px;
  grid-gap: 80px;
  background-color: #fff;
}
.leftMissBlock {
  width: 540px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.leftMissBlock h5 {
  font-size: 32px;
  margin: 0 0 10px 0;
}
.leftMissBlock div {
  font-size: 16px;
  font-weight: 500;
}
.rightMissBlock input {
  padding: 10px 0 10px 21px;
  width: 364px;
  height: 44px;
  border-radius: 6px;
  border: 1px solid #000;
  margin: 0 16px 16px 0;
}
.rightMissBlock input::-webkit-input-placeholder {
  color: black;
}
.rightMissBlock button {
  width: 88px;
  height: 44px;
  background-color: #1e313b;
  color: #fff;
  border: none;
  border-radius: 6px;
}
.rightMissBlock button:hover {
  @include darkButtonHover;
}
.rightMissBlock {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.rightMissDiscr > div {
  font-weight: 500;
  font-size: 12px;
}
.rightMissDiscr span {
  margin: 0 0 0 5px;
  color: #794eff;
}
.blogSection {
  width: 100%;
  height: 1000px;
}
.blogBody {
  padding: 0 80px;
  box-sizing: content-box;
  max-width: 1280px;
  margin: 128px auto 113px;
}

.blogLabel {
  @include labelConainer;
  display: inline-block;
  align-items: center;
  background-color: rgba(121, 78, 255, 0.8);
  color: #fff;
  border: 2px solid #794eff;
  text-align: center;
}

.blogTitle h3 {
  margin: 31px 0 11px 0;
  font-size: 32px;
}
.blogTitle span {
  color: #794eff;
}

.blockView {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.blockView div {
  font-size: 18px;
  color: #1e313b;
}
.blockView button {
  color: #fff;
  background-color: #1e313b;
  padding: 8px 15px 10px;
  border: 1px solid #1e313b;
  border-radius: 6px;
}
.blockView button:hover {
  @include darkButtonHover;
}
.blogMainInfo {
  margin: 47px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}
.blogMainInfo .mainPhoto {
  width: 100%;
}
.blogMainInfo h2 {
  margin: 43px 0 9px 0;
  color: #1e313b;
  font-weight: 400;
  font-size: 24px;
}
.blogMainInfo span {
  color: #1e313b;
  font-size: 16px;
  line-height: 24px;
}
.bloggerInfo {
  display: flex;
  margin: 16px 0 0 0;
}
.bloggerInfo div {
  font-size: 14px;
  margin: 0 0 0 16px;
}
.blogerResponseStatus span {
  margin: 0 0 0 22px;
  font-size: 14px;
}
.blogerResponseStatus span::before {
  content: "";
  display: flex;
  position: absolute;
  width: 3px;
  border-radius: 100%;
  margin: -18px 0px 0 115px;
  height: 3px;
  background-color: black;
}
.startDesigh {
  background-color: #794eff;
  height: 256px;
  width: 100%;
}
.startDesigh > div {
  display: flex;
  padding: 60px 80px 0;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
}
.startDesigh span {
  color: #fff;
  font-size: 18px;
}
.startDesigh h3 {
  color: #fff;
  font-size: 56px;
  margin: 0 0 14px 0;
}
.startDesigh button {
  width: 154px;
  height: 55px;
  margin: 51px 0 21px 0;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  color: #1e313b;
}
.startDesigh button:hover {
  @include lightButtonHover;
}
.footerSection {
  height: 263px;
  width: 100%;
  padding: 0 80px;
}
.footerBody {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 90px 0 0;
}

.footerBody > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerLinks {
  display: flex;
  align-items: center;
}
.footerLinks span {
  font-size: 16px;
  color: #794eff;
  margin: 0 24px 0 0;
}
.footerLinks span:last-child {
  margin: 0;
}
.socialMediaIcons {
  display: flex;
  align-items: center;
}
.socialMediaIcons img {
  margin: 0 0 0 15px;
}
.socialMediaIcons img:first-child {
  margin: 0;
}
.footerBottom {
  display: flex;
  margin: 32px auto 0;
}
.footerBottom div {
  font-size: 14px;
}
.footerBottom span {
  margin: 0 0 0 20px;
  color: #794eff;
}
.politicsEtc span {
  margin: 0 0 0 16px;
}

@media screen and (max-width: 1024px) {
  .mainContent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 20px;
  }
  .leftBlocDiscr {
    width: 50%;
  }

  .mainContentRightBlock {
    grid-row: 1/1;
    width: 100%;
  }
  .headerFirstSite {
    padding: 0 10px;
  }
  .headerLinks h2 {
    margin: 0 10px;
  }
  .sponsorImgBlock {
    flex-direction: column;
    align-items: center;
  }
  .sponsorImgBlock img {
    width: 100px;
    margin: 15px;
  }
  .secondBlockMainContent {
    grid-template-columns: 1fr;
    padding: 0 20px;
    grid-template-rows: 1fr 1fr;
  }
  .teamStats {
    display: flex;
    flex-direction: column;
  }
  .stats {
    width: fit-content;
    display: flex;
  }
  .statsContent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px 20px;
  }
  .teamInfo {
    padding: 0 20px;
    margin: 40px 0;
    grid-gap: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .stepsToBuild {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;
    padding: 0 20px;
    margin: 40px 0;
  }
  .blogerResponseStatus span::before {
    display: none;
  }
  .nonMissMessage {
    padding: 0 20px;
  }
  .nonMissBlock {
    grid-template-columns: 1fr;
    padding: 20px 20px;
  }
  .blogBody {
    padding: 0 20px;
  }
  .startDesigh > div {
    padding: 60px 20px;
  }
  .footerSection {
    padding: 0 20px;
  }
}
@media screen and (max-width: 912px) {
  //   .headerLinks{
  //     display: none;
  //   }
  //   .headerMenu{
  //     display: flex;
  //   }
  //   .headerFirstSite button{
  //  margin: 0 0 0 20px;
  //  width: 70px;
  //  font-size: 12px;
  //   }
  //   .headerFirstSite{
  //     padding: 0 10px 0;
  //   }
}
@media screen and (max-width: 540px) {
  .headerLinks {
    display: none;
  }
  .headerMenu {
    display: flex;
  }
  .headerFirstSite button {
    margin: 0 0 0 20px;
    width: 70px;
    font-size: 12px;
  }
  .headerFirstSite {
    padding: 0 10px 0;
  }
  .mainContentRightBlock {
    width: 50%;
    align-self: center;
    margin: 0 auto;
  }
  .mainContentLeftBlock {
    width: 100%;
  }
  .mainContent {
    grid-template-rows: 1fr;
    grid-gap: 80px;
  }
  .secondContentBlock {
    padding: 0;
  }

  .secBlockRightBottom {
    display: flex;
    flex-direction: column;
  }
  .secondBlockMainContent {
    grid-gap: 0;
    grid-template-rows: 1fr;
  }
  .secondContRightBlock {
    grid-template-rows: 1fr;
    padding: 0 0 40px 0;
  }
  .teamImages {
    display: flex;
    flex-direction: column;
  }
  .teamInfoLeftBlock {
    padding: 0 0 30px;
  }
  .teamInfo {
    grid-template-rows: 1fr;
  }
  .stepsToBuild {
    display: flex;
    flex-direction: column;
  }
  .rightBlockImage {
    grid-template-columns: 10% 90%;
  }
  .bloggerInfo img {
    width: 100%;
    object-fit: contain;
  }
  .footerBody > div {
    flex-direction: column;
  }
  .footerBody div {
    margin: 10px 0;
  }
  .nonMissBlock {
    height: 415px;
  }
  .leftMissBlock {
    width: 100%;
  }
  .blogMainInfo span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  .bloggerInfo {
    flex-direction: column;
  }
  .blogerResponseStatus span {
    margin: 0 auto;
  }
  .bloggerInfo div {
    margin: 0 auto;
  }
  .leftBlockInput input {
    width: 265px;
  }
  .leftBlockInput {
    margin: 40px 0;
  }
  .rightMissBlock input {
    width: 265px;
  }
  .startDesigh > div {
    padding: 60px 10px;
  }
  .startDesigh button {
    font-size: 14px;
  }
}
