.bodyFirstSite {
  margin: 0;
  padding: 0;
}
.headerFirstSite {
  margin: 0 auto;
  display: flex;
  max-width: 1440px;
  width: 100%;
  align-items: center;
  justify-items: center;
  align-content: center;
  height: 72px;
  justify-content: space-between;
}
.headerLinks {
  display: flex;
}
.headerLinks h2 {
  margin: 0 32px 0 0;
  color: #1e313b;
  font-size: 16px;
}
.headerLinks h2:hover {
  cursor: pointer;
  color: #794eff;
}
.headerLinks h2:last-child {
  margin: 0;
}
.headerFirstSite button {
  width: 100%;
  font-size: 16px;
  max-width: 93px;
  height: 42px;
  background-color: #1e313b;
  color: #fff;
  border-radius: 6px;
}
.upContentBlock {
  background-color: #1e313b;
  width: 100%;
  height: 100%;
}
.mainBlock {
  background-color: #1e313b;
  margin: 0 auto;
}
.mainContent {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 130px 0 100px;
  display: grid;
  max-width: 1280px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.mainContentLeftBlock {
  box-sizing: border-box;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: left;
}
.leftBlockHeadText {
  font-size: 38px;
  line-height: 44px;
}
.leftBlockHeadText span {
  color: #794eff;
}
.leftBlocDiscr {
  padding: 13px 0 29px 0;
  font-size: 18px;
  width: 575px;
  line-height: 27px;
}
.leftBlockInput input {
  width: 376px;
  margin: 0 16px 16px 0;
  height: 44px;
  border-radius: 6px;
  padding: 10px 0 10px 24px;
}
.leftBlockInput input::-webkit-input-placeholder {
  color: black;
}
.leftBlockInput button {
  width: 88px;
  height: 44px;
  border-radius: 6px;
}
.signDiscr div {
  font-family: Roboto;

  font-size: 12px;
}
.signDiscr span {
  color: #794eff;
}
.mainContentRightBlock {
  object-fit: cover;
  width: 100%;
  max-width: 716px;
  height: 100%;
  margin: 0 0 0 10px;
  max-height: 618px;
}
.usage {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.sponsorImgBlock {
  display: flex;
  margin: 0 auto;
  padding: 62px 161px 80px;
  max-width: 1280px;
  justify-content: space-around;
}
.secondContentBlock {
  padding: 128px 0;
}
.secondBlockMainContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1440px;
  grid-gap: 80px;
  width: 100%;
  max-height: 565px;
  height: 100%;
}
.secondContLeftBlock {
  margin: 62px 0 62px 0;
  object-fit: cover;
}
.secondRightUpBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 30px 0;
}
.secondRightUpBlock div {
  font-size: 16px;
  margin: 0 0 30px 0;
  background-color: rgba(255, 193, 71, 0.6);
  padding: 0 26px;
  border: 2px solid #ffc147;
  border-radius: 100px;
}
.secondRightTitle {
  font-size: 32px;
}
.secondRightTitle span {
  color: #ffc147;
}
.secondContRightBlock h4 {
  font-size: 16px;
  line-height: 24px;
}
.secondContRightBlock {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.secBlockRightBottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  grid-template-rows: 1fr 1fr;
}
.titleBottomBlock {
  display: flex;
}
.titleBottomBlock img {
  padding: 0 16px 12px 0;
}
.titleBottomBlock span {
  font-size: 18px;
  font-weight: 500;
  color: #ffc147;
  padding: 0 0 12px 0;
}
.secBlockRightBottom h4 {
  padding: 0 0 0 40px;
  box-sizing: border-box;
  width: 285px;
}
.teamStats {
  width: 100%;
  height: 100%;
}
.stats {
  background-color: #f6f6f6;
  width: 100%;
  height: 490px;
}
.statsContent {
  padding: 128px 80px;
  margin: 0 auto;
  display: grid;
  grid-gap: 116px;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
}
.statsLeftBlock > div {
  display: inline-block;
  padding: 0 26px;
  border: 2px solid #97e747;
  border-radius: 100px;
  background-color: rgba(151, 231, 71, 0.6);
  margin: 0 0 29px 0;
}
.statsLeftBlock h3 {
  font-size: 32px;
}
.statsLeftBlock h3 span {
  color: #97e747;
}
.statsRightBlock {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
}
.statsRightBlock div {
  font-size: 18px;
}
.statsPercent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.statsPercent h3 {
  margin: 0;
  font-size: 48px;
  color: #97e747;
}
.teamInfo {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 128px 80px;
  width: 100%;
  grid-gap: 115px;
  max-width: 1280px;
  height: 592px;
}
.teamInfoLeftBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.teamInfoLeftBlock h4 {
  display: inline-block;
  padding: 0 26px;
  color: white;
  width: 93px;
  border-radius: 100px;
  background-color: rgba(121, 78, 255, 0.8);
  margin: 0 0 29px 0;
  border: 2px solid #794eff;
}
.teamInfoLeftBlock h3 {
  font-size: 32px;
}
.teamInfoLeftBlock h3 span {
  color: #794eff;
}
.teamInfoLeftBlock div {
  font-size: 18px;
  padding: 0 0 29px 0;
}
.teamInfoLeftBlock button {
  width: 141px;
  color: white;
  border: none;
  height: 42px;
  background-color: #794eff;
  border-radius: 6px;
}
.teamImages {
  display: grid;
  grid-template-columns: 288px 288px;
  grid-template-rows: 288px 288px;
  grid-gap: 16px;
}
.teamImageFirstBlock {
  max-width: 288px;
  width: 100%;
}
.teamImageFirstBlock img {
  padding: 0 0 16px;
}
.teamImageSecondBlock {
  display: flex;
  align-items: center;
  grid-row: 1/3;
  grid-column: 2/3;
}
.buyRequest {
  background-color: #1e313b;
  width: 100%;
  height: 615px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buyRequest > div {
  width: 100%;
  max-width: 768px;
}
.buyRequest img {
  padding: 0 0 20px 0;
}
.buyRequest h2 {
  font-size: 32px;
  color: #fff;
}
.buyRequest h3 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 0 0 29px 0;
}
.buyRequest_buttonBlock button:first-child {
  width: 132px;
  height: 42px;
  color: #fff;
  background-color: #794eff;
  border-radius: 6px;
  margin: 0 16px 0 0;
  border: none;
}
.buyRequest_buttonBlock button:last-child {
  width: 112px;
  height: 42px;
  border-radius: 6px;
  border: none;
}
.stepsToBuild {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 128px 0;
  width: 100%;
  grid-gap: 115px;
  max-width: 1280px;
  height: 764px;
}

.stepsToBuild_leftBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stepsToBuild_leftBlock div {
  font-size: 16px;
  margin: 0 0 30px 0;
  background-color: rgba(255, 193, 71, 0.6);
  padding: 0 26px;
  width: 112px;
  border: 2px solid #ffc147;
  border-radius: 100px;
}

.stepsToBuild_leftBlock span {
  font-size: 32px;
  color: #1e313b;
  line-height: 35px;
  padding: 0 0 48px;
}

.stepsToBuild_leftBlock button {
  width: 132px;
  height: 42px;
  background-color: #1e313b;
  border-radius: 6px;
  border: none;
  color: #fff;
}

.stepsRightBlockImages {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.rightBlockImage img {
  box-sizing: border-box;
  width: 62px;
  padding: 23px 0 82px 0;
}
.rightBlockImage {
  display: grid;
  grid-template-columns: 62px 538px;
}
.stepsRightBlockImages::after {
  content: "";
  margin: 62px 0 0 31px;
  z-index: -1;
  position: absolute;
  width: 2px;
  display: flex;
  height: 335px;
  background-color: rgba(0, 0, 0, 0.15);
}
.rightBlockImage > div {
  margin: 37px 0 50px 40px;
}
.rightBlockImage h2 {
  font-size: 18px;
}
.rightBlockImage div {
  font-size: 16px;
}
.creators {
  width: 100%;
  height: 650px;
  background-color: #f6f6f6;
}
.creatorsDiscription {
  // display: flex; if i will add arrows
  padding: 128px 0 192px;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1260px;
}
.slideLogoDiscr {
  margin: 0 0 34px 0;
}
.slideMainDiscr {
  font-size: 24px;
  font-weight: 500;
  width: 727px;
  margin: 0 auto 28px;
}
.memberName {
  margin: 15px 0 10px 0;
  font-size: 16px;
  font-weight: 500;
}
.memberPosition {
  font-size: 16px;
  font-weight: 500;
}
.nonMissMessage{
  display: flex;
  width: 100%;
  height: 443px;justify-content: center;
  align-items: center;
  background-color: #794eff;
}
.nonMissBlock{
  padding: 0 96px;
  display: grid;
  align-items: center;
  justify-items: flex-start;
  grid-template-columns: 1fr 1fr;
  border-radius: 48px;
  max-width: 1280px;
  width: 100%;
  height: 315px;
  grid-gap: 80px;
  background-color: #fff;
}
.leftMissBlock{
  width: 540px;
  display: grid;
  grid-template-rows: 1fr 1fr;

}
.leftMissBlock h5{
  font-size: 32px;
  margin: 0 0 10px 0;
}
.leftMissBlock div{
  font-size: 16px;
  font-weight: 500;
}
.rightMissBlock input{
  padding: 10px 0 10px 21px;
  width: 364px;
  height: 44px;
  border-radius: 6px;
  border: 1px solid #000;
  margin: 0 16px 16px 0;
}
.rightMissBlock input::-webkit-input-placeholder{
  color: black;
}
.rightMissBlock button{
  width: 88px;
  height: 44px;
  background-color: #1e313b;
  color: #fff;
  border: none;
  border-radius: 6px;
}
.rightMissBlock{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.rightMissDiscr > div{
  font-weight: 500;
  font-size: 12px;
}
.rightMissDiscr span{
  margin: 0 0 0 5px;
  color: #794eff;
}