.headerBlock {
  width: 100%;
  height: 1023px;
  background-image: url("./secondPageImage/IMAGE.jpg");
  background-size: auto;
}
.headerUpperBlock {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 40px;
}
.headerBlockShadow {
  content: "";
  padding: 40px 20px 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 39, 50, 0.81);
  box-sizing: border-box;
}
.headerUpperBlock button {
  padding: 0 71px;
  font-size: 22px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.navBarLinks {
  border-top: 1px solid #4e555f;
  border-bottom: 1px solid #4e555f;
  align-items: center;
  height: 130px;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
}
.linksHeader {
  padding: 0 0 0 20px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}
.linksHeader h3 {
  color: #fff;
}
.headerContactInfo {
  padding: 0 20px 0 0;
  display: flex;
  justify-content: flex-end;
}
.headerContactInfo h5 {
  font-size: 18px;
  margin: 0;
  color: #d1b06b;
}
.headerContactInfo h6 {
  font-size: 22px;
  color: #fff;
}
.connectInfo {
  margin: 0 0 0 12px;
}
.headerContactInfo img {
  margin: 0 0 0 50px;
}
.ourGroupInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px 0;
  box-sizing: border-box;
}
.leftBlockOurGroup {
  display: flex;
  grid-gap: 16px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}
.leftBlockOurGroup img {
  width: 95px;
}
.leftBlockOurGroup h5 {
  font-size: 65px;
  margin: 14px 0 21px 0;
  line-height: 78px;
  color: #fff;
  letter-spacing: 0.4px;
  font-family: "Cormorant Garamond", serif;
}
.leftBlockOurGroup h3 {
  font-size: 22px;
  margin: 0 0 28px;
  color: #d1b06b;
  font-family: "Outfit", sans-serif;
}
.leftBlockOurGroup button {
  background-color: #d1b06b;
  width: 269px;
  height: 85px;
  border: none;
  font-size: 22px;
  font-family: "Outfit", sans-serif;
}
.rightBlockOurGroup {
  display: flex;
  justify-content: flex-end;
}
.mainBlockUpperContent {
  width: 100%;
  height: 100%;
  background-color: #161d27;
  padding: 0 0 140px 0;
}
.mainBlockDiscription {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 140px 40px 110px;
}

.mainBlockImageSection img {
  margin: 0 0 30px 0;
}
.mainBLockTextColumn {
  margin: 0 auto;
}
.mainBLockTextColumn h3 {
  margin: 0 0 11px 0;
  line-height: 60px;
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-size: 45px;
  font-weight: 400;
}
.mainBLockTextColumn > p {
  margin: 40px 0 35px 0;
  width: 825px;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.smallMateBlock {
  display: flex;
  align-items: center;
}
.smallMateBlock img {
  width: 90px;
  margin: 0 20px 45px 0;
  height: 90px;
}
.smallMateBlock h2 {
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
}
.mainBlockButtons {
  display: flex;
}
.succesButton {
  width: 315px;
  height: 126px;
  background-color: #3b434e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 35px 50px;
  margin: 0 30px 0 0;
}
.succesButton img {
  width: 58px;
  height: 56px;
}
.succesButton p {
  font-size: 22px;
  font-family: "Outfit", sans-serif;
  margin: 0;
  color: #fff;
}
.experienceButton {
  width: 315px;
  height: 126px;
  background-color: #d1b06b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 35px 50px;
}
.experienceButton p {
  font-size: 22px;
  font-family: "Outfit", sans-serif;
  margin: 0;
  color: #000;
}
.mainDiscriptionSecondBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 40px 0;
  margin: 230px 0 0 0;
}
.secondBlockContent > h2 {
  font-size: 45px;
  margin: 0 0 11px 0;
  font-family: "Cormorant Garamond", serif;
  color: #fff;
}
.mainDiscriptionSecondBlock > p {
  color: #fff;
  width: 660px;
  display: flex;

  align-items: center;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}
.secondBlockSelectSection {
  margin: 60px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 0 45px;
}
.secondBlockSelectSection > div {
  padding: 55px 50px 70px;
  background-color: #1f2732;
}
.secondBlockSelectSection h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 35px;
  color: #fff;
}

.secondBlockSelectSection p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  margin: 0;
  color: #fff;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #4e555f;
}
.buttonSectionDiscr {
  display: flex;
  justify-content: space-between;
  margin: 38px 0 0 0;
}
.buttonSectionDiscr button {
  width: 187px;
  height: 58px;
  background-color: #161d27;
  color: #fff;
  border: none;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.mainBlockSecondContent {
  text-align: center;
  margin: 125px 0 0 0;
}

.mainBlockSecondContent > h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 45px;
  margin: 0 0 11px;
}

.mainBlockSecondContent > img {
  margin: 0 0 40px 0;
}

.mainBlockSecondContent > p {
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  color: #909090;
  letter-spacing: 0.4px;
  line-height: 32px;
  padding: 0 0 60px 0;
}

.companyStats {
  display: grid;
  grid-template-columns: repeat(3, 433px);
  padding: 0 40px;
  grid-gap: 30px;
  width: 100%;
  justify-content: center;
}
.upperStatsBlock {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border: 2px solid #d1b06b;
}
.upperStatsBlock img {
  width: 20px;
}
.upperStatsBlock h2 {
  font-size: 30px;
  margin: 0;
}
.statsSection {
  display: flex;
  align-items: center;
  height: 180px;
  width: 433px;
  padding: 30px;
  background-color: #fbfbfb;
}
.bottomStatsBlock {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 37px 30px 37px 20px;
}
.bottomStatsBlock h3 {
  font-size: 30px;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
}
.bottomStatsBlock p {
  font-size: 19px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #909090;
}
.starStatsImg {
  width: 24px;
}
.statsSection_judge {
  background-image: url("./secondPageImage/statsSectionJudge.png");
  z-index: -1;
  padding: 0;
}
.bottomStatsBlock_judge {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 37px 30px 0 20px;
}
.bottomStatsBlock_judge h4 {
  color: #ffff;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
}
.bottomStatsBlock_judge span {
  color: #ffff;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
}
.pathnersBlock {
  padding: 162px 0 0 0;
}
.headerPathners {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.headerPathners h2 {
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  margin: 0 40px;
  font-size: 50px;
}
.parthnersBrand {
  padding: 50px 108px 130px 101px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.historyBlock {
  width: 100%;
  height: 1440px;
  background-image: url("./secondPageImage/backgroundHistory.png");
  object-fit: cover;
  background-repeat: no-repeat;
  // position: absolute;
  padding: 140px 40px;
  background-size: 100%;
}
.historyContent {
  background-color: rgba(31, 39, 50, 0.85);
  width: 100%;
  height: 100%;
}
.historyContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 80px 60px 70px;
}

.historyContent h2 {
  margin: 0;
  font-size: 45px;
  color: #fff;
  line-height: 58px;
  font-family: "Cormorant Garamond", serif;
}

.leftHistory {
  width: 418px;
}
.leftHistory img {
  margin: 11px 0 50px;
}
.leftHistory h5 {
  font-family: "Outfit";
  color: #d1b06b;
  font-size: 20px;
}
.leftHistory h6 {
  font-family: "Outfit";
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin: 13px 0 35px;
}
.rightHistory img {
  margin: 11px 0 43px;
}
.rightBlockMainContent {
  width: 382px;
}
.rightBlockMainContent h5 {
  font-family: "Outfit";
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.historyCases {
  font-family: "Outfit";
  font-size: 20px;
  color: #fff;
  margin: 39px 0 50px;
}

.historyCases div {
  display: flex;
  margin: 0 0 30px;
  justify-content: space-between;
}

.divorceCase:after {
  content: "";
  position: absolute;
  margin: 42px 0 0 0;
  width: 383px;
  display: flex;
  height: 5px;
  background: linear-gradient(to right, #d1b06b 75%, #fff 25%);
}
.propertyCase:after {
  content: "";
  position: absolute;
  margin: 42px 0 0 0;
  width: 383px;
  display: flex;
  height: 5px;
  background: linear-gradient(to right, #d1b06b 80%, #fff 20%);
}

.bankingCases:after {
  content: "";
  position: absolute;
  margin: 42px 0 0 0;
  width: 383px;
  display: flex;
  height: 5px;
  background: linear-gradient(to right, #d1b06b 75%, #fff 25%);
}

.accidentCases:after {
  content: "";
  position: absolute;
  margin: 42px 0 0 0;
  width: 383px;
  display: flex;
  height: 5px;
  background: linear-gradient(to right, #d1b06b 90%, #fff 10%);
}

.rightBlockMainContent button {
  width: 302px;
  color: #000;
  height: 85px;
  background-color: #d1b06b;
  font-size: 22px;
}

.clientReviews {
  background-color: #161d27;
  padding: 124px 0 140px 0;
}
.headerClientReviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerClientReviews h2 {
  color: #fff;
  font-size: 45px;
  font-family: "Cormorant Garamond";
  align-items: center;
}
.headerClientReviews img {
  width: 95px;
}
.reviewsExamples {
  padding: 0 50px;
  margin: 60px 0 0 0;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.reviewContent > p {
  font-size: 20px;
  margin: 33px 0 0 0;
  color: #fff;
  line-height: 45px;
  font-family: "Outfit";
  letter-spacing: 0.4px;
}
.reviewContent {
  border-radius: 1px 1px 1px 40px;
  background-color: #2e3947;
  padding: 51px 51px 57px 45px;
}
.feedBackSender {
  display: flex;
  margin: 20px 0 0 0;
}
.feedBackSender p {
  font-family: "Cormorant Garamond";
  color: #fff;
  margin: 0 0 0 22px;
  font-size: 30px;
}
.feedBackSender p:last-child {
  font-size: 20px;
}
.feedBackSenderInTop {
  display: flex;
  margin: 0 0 20px 0;
}

.feedBackSenderInTop p {
  font-family: "Cormorant Garamond";
  color: #fff;
  margin: 0 0 0 22px;
  font-size: 30px;
}
.feedBackSenderInTop p:last-child {
  font-size: 20px;
}
.reviewContentInBottom {
  border-radius: 40px 1px 1px 1px;
  background-color: #2e3947;
  padding: 51px 51px 57px 45px;
}
.reviewContentInBottom > p {
  font-size: 20px;
  margin: 33px 0 0 0;
  color: #fff;
  line-height: 45px;
  font-family: "Outfit";
  letter-spacing: 0.4px;
}

.workersBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 40px;
}
.workersBlock h3 {
  margin: 124px 0 11px;
  font-family: "Cormorant Garamond";
  font-size: 45px;
}
.workersPhoto {
  display: grid;
  margin: 70px 0 0 0;
  grid-gap: 30px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}
.middleWorkerContainer {
  position: relative;
}
.middleWorkerContainer::after {
  content: "";
  width: 108px;
  position: absolute;
  z-index: 4;
  height: 1px;
  display: flex;
  background-color: #d1b06b;
  left: 50%;
  transform: translate(-50%, 0%);
}
.workersContacts {
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0%);
  justify-content: center;
  z-index: 1;
  height: 66px;
  position: absolute;
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 217px;
  bottom: 0;
  background-color: #fff;
}
.workersContacts img {
  width: 21px;
}
.workersPhoto h4 {
  font-family: "Cormorant Garamond";
  font-size: 30px;
  margin: 20px 0 0 0;
}
.workersPhoto p {
  font-family: "Outfit";
  font-size: 20px;
  color: #d1b06b;
  padding: 0 0 131px 0;
}
.contactInformation {
  grid-gap: 102px;
  padding: 0 40px;
  background-color: #161d27;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}
.conatactDiscription {
  margin: 150px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contactInformation h2 {
  font-family: "Cormorant Garamond";
  line-height: 58px;
  font-size: 45px;
  margin: 0;
  color: #fff;
  letter-spacing: 0.4px;
}
.conatactDiscription img {
  width: 95px;
  margin: 9px 0 53px;
}
.contactInformation p {
  font-family: "Outfit";
  font-size: 20px;
  margin: 0;
  color: #d7d7d7;
}
.contactInformation button:last-child {
  margin: 37px 0 0 0;
  width: 257px;
  height: 85px;
  font-family: "Outfit";
  color: #1f2732;
  background-color: #d1b06b;
  font-size: 22px;
}
.consultationInfo {
  background-color: #fff;
  margin: 150px 0;
  padding: 40px;
  outline: 15px solid #d7d7d7;
  outline-offset: -40px;
}

.consultationInfo > div {
  padding: 0 84px 0 55px;
}
.consultationInfo h3 {
  padding: 65px 0 0 0;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 42px;
}
.consultationInfo p {
  font-family: "Outfit";
  font-style: 20px;
  color: #909090;
}
.callContacts {
  margin: 37px 0 75px 0;
  display: flex;
}
.callContacts button {
  border: none;
  height: 70px;
  width: 70px;
  background-color: #d1b06b;
}

.callContacts p {
  margin: 0 0 0 15px;
  color: #1f2732;
  font-family: "Outfit";
  font-size: 18px;
}
.callContacts span {
  font-size: 30px;
}
