
.headerBlock{
    width: 100%;
    height: 1023px;
    background-image: url('./secondPageImage/IMAGE.jpg');
    background-size: auto;
}
.headerUpperBlock{

    display: flex;
    justify-content: space-between;
    padding: 0 20px 40px;
}
.headerBlockShadow{
    content: "";
    padding: 40px 20px 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 39, 50, 0.81);
    box-sizing: border-box;
}
.headerUpperBlock button{
    padding: 0 71px;
    font-size: 22px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.navBarLinks{
    border-top:1px solid #4E555F;
border-bottom: 1px solid #4E555F;
    align-items: center;
    height: 130px;
    display: grid;
    grid-template-columns: 0.6fr 1fr;
}
.linksHeader{
    padding: 0 0 0 20px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}
.linksHeader h3{
    color: #fff;

}
.headerContactInfo{
    padding: 0 20px 0 0;
    display: flex;
    justify-content: flex-end;
}
.headerContactInfo h5{
    font-size: 18px;
    margin: 0;
    color: #D1B06B;
}
.headerContactInfo h6{
    font-size: 22px;
    color:#fff
}
.connectInfo{
    margin: 0 0 0 12px;
}
.headerContactInfo img{
    margin: 0 0 0 50px;
}