.headerBlock {
  width: 100%;
  height: 1023px;
  background-image: url("./secondPageImage/IMAGE.jpg");
  background-size: auto;
}
.headerUpperBlock {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 40px;
}
.headerBlockShadow {
  content: "";
  padding: 40px 20px 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 39, 50, 0.81);
  box-sizing: border-box;
}
.headerUpperBlock button {
  padding: 0 71px;
  font-size: 22px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.navBarLinks {
  border-top: 1px solid #4e555f;
  border-bottom: 1px solid #4e555f;
  align-items: center;
  height: 130px;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
}
.linksHeader {
  padding: 0 0 0 20px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}
.linksHeader h3 {
  color: #fff;
}
.headerContactInfo {
  padding: 0 20px 0 0;
  display: flex;
  justify-content: flex-end;
}
.headerContactInfo h5 {
  font-size: 18px;
  margin: 0;
  color: #d1b06b;
}
.headerContactInfo h6 {
  font-size: 22px;
  color: #fff;
}
.connectInfo {
  margin: 0 0 0 12px;
}
.headerContactInfo img {
  margin: 0 0 0 50px;
}
.ourGroupInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px 0;
  box-sizing: border-box;
}
.leftBlockOurGroup {
  display: flex;
  grid-gap: 16px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}
.leftBlockOurGroup img {
  width: 95px;
}
.leftBlockOurGroup h5 {
  font-size: 65px;
  margin: 14px 0 21px 0;
  line-height: 78px;
  color: #fff;
  letter-spacing: 0.4px;
  font-family: "Cormorant Garamond", serif;
}
.leftBlockOurGroup h3 {
  font-size: 22px;
  margin: 0 0 28px;
  color: #d1b06b;
  font-family: "Outfit", sans-serif;
}
.leftBlockOurGroup button {
  background-color: #d1b06b;
  width: 269px;
  height: 85px;
  border: none;
  font-size: 22px;
  font-family: "Outfit", sans-serif;
}
.rightBlockOurGroup {
  display: flex;
  justify-content: flex-end;
}
.mainBlockUpperContent {
  width: 100%;
  height: 100%;
  background-color: #161d27;
  padding: 0 0 140px 0;
}
.mainBlockDiscription {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 140px 40px 110px;
}

.mainBlockImageSection img {
  margin: 0 0 30px 0;
}
.mainBLockTextColumn {
  margin: 0 auto;
}
.mainBLockTextColumn h3 {
  margin: 0 0 11px 0;
  line-height: 60px;
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-size: 45px;
  font-weight: 400;
}
.mainBLockTextColumn > p {
  margin: 40px 0 35px 0;
  width: 825px;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.smallMateBlock {
  display: flex;
  align-items: center;
}
.smallMateBlock img {
  width: 90px;
  margin: 0 20px 45px 0;
  height: 90px;
}
.smallMateBlock h2 {
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
}
.mainBlockButtons {
  display: flex;
}
.succesButton {
  width: 315px;
  height: 126px;
  background-color: #3b434e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 35px 50px;
  margin: 0 30px 0 0;
}
.succesButton img {
  width: 58px;
  height: 56px;
}
.succesButton p {
  font-size: 22px;
  font-family: "Outfit", sans-serif;
  margin: 0;
  color: #fff;
}
.experienceButton {
  width: 315px;
  height: 126px;
  background-color: #d1b06b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 35px 50px;
}
.experienceButton p {
  font-size: 22px;
  font-family: "Outfit", sans-serif;
  margin: 0;
  color: #000;
}
.mainDiscriptionSecondBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 40px 0;
  margin: 230px 0 0 0;
}
.secondBlockContent > h2 {
  font-size: 45px;
  margin: 0 0 11px 0;
  font-family: "Cormorant Garamond", serif;
  color: #fff;
}
.mainDiscriptionSecondBlock > p {
  color: #fff;
  width: 660px;
  display: flex;

  align-items: center;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}
.secondBlockSelectSection {
  margin: 60px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 0 45px;
}
.secondBlockSelectSection > div {
  padding: 55px 50px 70px;
  background-color: #1f2732;
}
.secondBlockSelectSection h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 35px;
  color: #fff;
}

.secondBlockSelectSection p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  margin: 0;
  color: #fff;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #4e555f;
}
.buttonSectionDiscr {
  display: flex;
  justify-content: space-between;
  margin: 38px 0 0 0;
}
.buttonSectionDiscr button {
  width: 187px;
  height: 58px;
  background-color: #161d27;
  color: #fff;
  border: none;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.mainBlockSecondContent {
  text-align: center;
  margin: 125px 0 0 0;
}

.mainBlockSecondContent > h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 45px;
  margin: 0 0 11px;
}

.mainBlockSecondContent > img {
  margin: 0 0 40px 0;
}

.mainBlockSecondContent > p {
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  color: #909090;
  letter-spacing: 0.4px;
  line-height: 32px;
  padding: 0 0 60px 0;
}

.companyStats {
  display: grid;
  grid-template-columns: repeat(3, 433px);
  padding: 0 40px;
  grid-gap: 30px;
}
.upperStatsBlock {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 120px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid #d1b06b;
}
.upperStatsBlock img {
  width: 20px;
}
.statsSection {
  display: flex;
  align-items: center;
  height: 180px;
  width: 433px;
  padding: 30px;
  background-color: #fbfbfb;
}
.bottomStatsBlock {
  display: flex;
  flex-direction: column;
  padding: 37px 30px 37px 20px;
}
.bottomStatsBlock h3 {
  font-size: 30px;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
}
.bottomStatsBlock p {
  font-size: 19px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #909090;
}
