.bodyOfMain {
  padding: 300px 0 0px 0;
}
.mainBlock {
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 22px;
  flex-direction: column;
  width: 20%;
  padding: 20px;
  border: 5px red solid;
  animation-name: borderAnim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.mainBlock > button {
  margin: 20px 0 0 0;
}

@keyframes borderAnim {
  0% {
    border: 5px red solid;
  }
  25% {
    border: 5px green solid;
  }
  75% {
    border: 5px blue solid;
  }
  100% {
    border: 5px red solid;
  }
}
